.toplevel_page_onesignal-admin-page #wpcontent {
	padding: 0;
}

.toplevel_page_onesignal-admin-page header {
	min-height: 150px;
	min-width: 100%;
	background-image: url(images/header-bg.jpg);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: center;
}

.toplevel_page_onesignal-admin-page header img {
	max-width: 200px;
}

.toplevel_page_onesignal-admin-page .os-content {
	padding: 60px;
}
